---
layout: page
title: tony's blog
---

<h2>{{ page.title }}</h2>

<p>Hi, mio. (=^_^=), 新年快乐!</p>
<br/>
<p>the latest blogs:</p>

<ul>
{% for post in site.posts %}
	<li>{{ post.date | date_to_string }} <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<ul class="listing">
{% for post in site.posts %}
	{% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
	{% if year != y %}
		{% assign year = y %}
		<li class="listing-seperator">{{ y }}</li>
	{% endif %}

	<li class="listing-item">
		<time datetime="%{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
		<a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
	</li>
{% endfor %}
</ul>

