<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="color:Background" content="#3b627e" />
	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/highlight.css">
	<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
	
<style type="text/css">
        body {
            background: #3b627e url('/images/x.gif') top left fixed repeat;
            margin: 0;
            padding: 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    }
</style>
</head>

<body>
<div id="container">
	<div id="main" role="main">
		<div id="mio">
        	<p><a href="http://tonyskywalker.github.io/">tony's blog</a>
            	<a href="https://github.com/tonyskywalker">tony's code</a>
            	Live in the future, then build what's missing!</p>
    	</div>
    	<div id="title">
        	<a href="/">hello tony</a>
    	</div>

		<nav>
		<span><a title="home page" class="" href="{{ site.url }}/">home</a></span>
		<span><a title="about" class="" href="{{ site.url }}/about/">about</a></span>
		<span><a title="categories" class="" href="{{ site.url }}/categories/">categories</a></span>
		<span><a title="tags" class="" href="{{ site.url }}/tags/">tags</a></span>
		<span><a title="links" class="" href="{{ site.url }}/links/">links</a></span>
		<span><a title="RSS" class="" href="{{ site.url }}/feed/">subscribe</a></span>
		</nav>
		
		<article class="content">
		{{ content }}
		</article>
	</div>
</div>
</body>
</html>

