---
layout: default
---

<section class="meta">
<span class="author">
	<a href="http://tonyskywalker.github.io">{{ site.author }}</a>
</span>

<span class="time">
	tony /
	<time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
</span>
<br/>

{% if page.categories %}
<span class="categories">
	categories
	{% for cat in page.categories %}
	<a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
	{% endfor %}
</span>
{% endif %}
<br/>

{% if page.tags %}
<span class="tags">
	tags
	{% for tag in page.tags %}
	<a href="{{ site.url }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
	{% endfor %}
</span>
{% endif %}
</section>

<section class="post">
{{ content }}
</section>

<span>
<a {% if page.previous %} href="{{ site.url }}{{ page.previous.url }}" class="pageNav"{% endif %} {% unless page.previous %} class="pageNavInvalid" {% endunless %} >Previous</a>
&nbsp;&nbps;&nbsp;
<a {% if page.next %} href="{{ site.url }}{{ page.next.url }}" class="pageNav"{% endif %} {% unless page.next %} class="pageNavInvalid" {% endunless %} >Next</a>
</span>

{% include comments.md %}


